.navbar_wrapper {
    background-color: #e1e1eb;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: -5px 0 5px 0 black;
    z-index: 99;
  
    .right_part {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  